
<nav id="menu">
    <ul>
      <li class="objetoLista">
        <a class="enlaceMenu" href="/">Inicio</a>
      </li>
      <li class="objetoLista">
        <a class="enlaceMenu" href="/nueva-foto">Añadir imagén</a>
      </li>
    </ul>
  </nav>