<nav id="menu">
  <h3 id="nombreApp">Fototeca</h3>
  <ul>
    <li class="objetoLista">
      <a class="enlaceMenu<%= (path == '/')? ' enlaceResaltado' :''%>" href="/">Mostrar imagenes</a>
    </li>
    <li class="objetoLista">
      <a class="enlaceMenu<%= (path == '/nueva-foto')? ' enlaceResaltado' :''%>" href="/nueva-foto">Añadir imagén</a>
    </li>
  </ul>
</nav>