h1 {
  color: green;
}

#menu .enlaceMenu{
  text-decoration:none;
  color:inherit;
  font-size:14px;
} 

#menu .objetoLista{
  display:inline-block;
  width:10%;
  padding:5px 10px;
  background-color:#000;
  border:1px solid #000;
  text-align:center;
  color:#fff;
}

#menu .objetoLista:hover{
  background-color:#fff;
  color:#000;
}